{% extends "index.html" %}

  {% block head %}
  <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
   <title>Welcome</title> 
  {% endblock %}

  {% block content %}
		<div class="jumbotron">
			<h2>Welcome, {{username}}!</h2>
		</div>
  {% endblock %}

<!-- <!DOCTYPE html>

<html>
  <head>
    <title>Sign Up</title>
        <body>
            <h2>Welcome, {{username}}!</h2>
            <a href="/blog" class="main-title">Main blog</a>
                <br>
            <a href="/blog/add" class="main-title">Add a blog entry </a>
        </body>
  </head>
</html> -->